<header>
    <div class="heading1">
        <a href="{% url 'home' %}" class="home-link">
            <img src="/static/images/baby_image.jpg" alt="Baby Store" class="logo">
            </a>
            Baby Store
    </div>
    <nav class="navbar">
        <ul class="nav-links">
            {% if user.is_authenticated %}
                <li><a href="{% url 'login' %}"><i class="fas fa-user"></i> Welcome, {{ user.username }}</a></li>
                <li><form action="{% url 'logout' %}" method="POST">{% csrf_token %}<a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></form></li>
            {% else %}
                <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            {% endif %}
            <li><a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i> Cart</a></li>
            <li><a href="{% url 'contact' %}"><i class="fas fa-envelope"></i> Contact</a></li>
        </ul>
        <div class="search-box">
            <input type="text" placeholder="Search..." id="search-bar">
            <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </div>
    </nav>
</header>
